body {
    font-family: sans-serif;
    margin: auto;
  }
  
  .navbar {
    background-color: #304FFE;
    border-radius: 2px;
  }
  
  .navbar a {
    color: #F1F8E9;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #E3F2FD;
  }
  